In [60]:
import pandas as pd
import random

In [7]:
df = pd.read_csv("Arabic_names.csv")

In [8]:
df.head()

     Name Gender
0  ابتسام      F
1  ابتهاج      F
2  ابتهال      F
3  اجتهاد      F
4  ازدهار      F

In [9]:
df_M = df[['Name']][df.Gender == "M"].reset_index(drop = True)
df_M = df_M.sample(frac = 0.3).reset_index(drop = True)

In [10]:
df_F = df[['Name']][df.Gender == "F"].reset_index(drop = True)
df_F = df_F.sample(frac = 0.5).reset_index(drop = True)

In [11]:
# comination of last names 
last_name = []
for i in range(len(df_M)):
    for j in range(len(df_M)-1):
        last_name.append(df_M.Name[i] +' '+ df_M.Name[j+1])
#         last_name.append(df_M.Name[j] +' '+ df_M.Name[i]) # to considre the

In [12]:
len(last_name)

65280

In [13]:
last_name_ = pd.DataFrame(last_name,columns =['last_name']).sample(frac = 0.3).reset_index(drop = True)

In [32]:
# comination of males full names 
full_name_M = []
for i in range(len(last_name_)):
    for j in range(len(df_M)):
        full_name_M.append(df_M.Name[j]  + ' ' + last_name_.last_name[i])

In [33]:
last_name_ = pd.DataFrame(last_name,columns =['last_name']).sample(frac = 0.3).reset_index(drop = True)

In [34]:
# comination of females full names 
full_name_F = []
for i in range(len(last_name_)):
    for j in range(len(df_F)):
        full_name_F.append(df_F.Name[j] + ' ' + last_name_.last_name[i])

In [35]:
len(full_name_M)

5013504

In [36]:
len(full_name_F)

5405184

In [38]:
full_name_M_ = pd.DataFrame(full_name_M).sample(frac = 0.1).reset_index(drop = True)

In [39]:
full_name_F_ = pd.DataFrame(full_name_F).sample(frac = 0.1).reset_index(drop = True)

In [46]:
df = full_name_M_.append(full_name_F_)
df = df.sample(frac = 1).reset_index(drop = True)
df.rename(columns = {0 :'Full_name'}, inplace = True)

In [47]:
df.head()

            Full_name
0     أمية رفاعي شفيع
1    سمير رشوان مسعود
2  عبدالحي أشجع توفيق
3     رفيدة جهاد حسام
4      عايدة مطر وليد

In [ ]:
# df.to_pickle("full_name.pkl")

In [ ]:
# df = pd.read_pickle("full_name.pkl")

In [68]:
df_error = df.sample(frac = 1).reset_index(drop = True)

In [69]:
df['label'] = 0

In [70]:
df_error['label'] = 1

In [71]:
arb_le = ['ا','أ','ب','ت','ث','د','ج','خ','ح','ه','ع','غ','و','ظ','ش','س','ئ','ض','ذ','','ك','ق','ف','ؤ','م','ر','ن','ز']

In [74]:
# sample of replaceing random correct letter with random wrong one
df_error['Full_name'][0].replace(random.choice(df_error['Full_name'][0]), random.choice(arb_le))

'حسنية ثاب ذعار'

In [109]:
# iterate over all names 
wrong_names = []
for i in range(len(df_error)):
  # random replacing twice
  wrong_name = df_error['Full_name'][i].replace(random.choice(df_error['Full_name'][i]), random.choice(arb_le)).replace(random.choice(df_error['Full_name'][i]), random.choice(arb_le))
  wrong_names.append(wrong_name)

In [113]:
wrong_names_df = pd.DataFrame(wrong_names).sample(frac = 1).reset_index(drop = True)
wrong_names_df.rename(columns = {0 :'Full_name'}, inplace = True)

In [115]:
wrong_names_df['label'] = 1

In [117]:
FULL_DATA = df.append(wrong_names_df)
FULL_DATA = FULL_DATA.sample(frac = 1).reset_index(drop = True)

In [119]:
# FULL_DATA.to_csv('FULL_DATA.csv')